---
import db, { type Panel } from "../../../lib/db";

const id = Astro.url.searchParams.get("id");
let panel: Panel | null = null;

if (id) {
    panel = await db.getPanel(id);
}
---

<form
    hx-post={panel ? `/api/panels/${panel.id}` : "/api/panels"}
    hx-target="body"
    hx-swap="none"
    @submit="modalOpen = false"
>
    <div class="field">
        <label for="panel-name">Name</label>
        <input
            type="text"
            id="panel-name"
            name="name"
            placeholder="e.g. Projects..."
            value={panel?.name || ""}
            required
            autofocus
        />
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-ghost" @click="modalOpen = false"
            >Cancel</button
        >
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
